body{
    text-align: center;
}

.basic-button{
    cursor: pointer;
    font-family: "Roboto";
    font-size: 30px;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 2% 3%;
}

#start{
    margin-top: 50vh;
    background-image: linear-gradient(to bottom right, rgb(252, 110, 44), rgb(41, 194, 41));
}

#start:hover{
    background-image: linear-gradient(to bottom right, rgb(194, 79, 25), rgb(28, 131, 28));
}

#game{
    border-radius: 2%;
    border-color: rgb(80, 79, 79);
    border-style: solid;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    visibility: hidden;
}

#image{
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#clickables{
    width: 100%;
    height: 100%;
}

#text{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: "Roboto";
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

#nextButton{
    background-color: rgb(8, 168, 8);
}

#nextButton:hover{
    background-color: rgb(6, 112, 6);
}